main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 740px;

  position: relative;
  top: -30px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

form input {
  height: 52px;
  width: 640px;

  padding: 0px 16px 0px 16px;

  border: solid 1px var(--gray-700);
  border-radius: 8px;

  background: var(--gray-500);

  color: var(--gray-100);
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 52px;
  width: 100px;

  /* padding: 16px; */

  border: 0;
  border-radius: 8px;

  background: var(--blue-dark);

  color: var(--gray-100);
  font-weight: 700;
  line-height: 0;

  cursor: pointer;
}

form button:hover {
  background: var(--blue);
}

/* form button:hover:active {
  background: var(--blue-dark);
} */

.toDo {
  width: 100%;

  display: flex;
  flex-direction: column;
  /* border: solid 1px green; */

  margin-top: 64px;
}

.toDo header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.createdTasks {
  display: flex;
  gap: 8px;

  color: var(--blue);

  font-weight: 700;
}

.createdTasksNumber {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 20px;

  border-radius: 999px;

  background: var(--gray-400);

  color: var(--gray-200);

  font-weight: 700;
}

.completedTasks {
  display: flex;
  gap: 8px;

  color: var(--purple);

  font-weight: 700;
}

.completedTasksNumberHumanized {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 68px;
  height: 20px;

  border-radius: 999px;

  background: var(--gray-400);

  color: var(--gray-200);

  font-weight: 700;
}

.toDo .toDoListEmptySection {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 64px 24px 64px 24px;

  font-sizwe: 16px;
}

.toDo .toDoListEmptySection svg {
  margin-bottom: 16px;
}

.toDo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
