main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 740px;

  position: relative;
  top: -30px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

form input {
  height: 52px;
  width: 640px;

  padding: 0px 16px 0px 16px;

  border: solid 1px var(--gray-700);
  border-radius: 8px;

  background: var(--gray-500);

  color: var(--gray-100);
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 52px;
  width: 100px;

  /* padding: 16px; */

  border: 0;
  border-radius: 8px;

  background: var(--blue-dark);

  color: var(--gray-100);
  font-weight: 700;
  line-height: 0;

  cursor: pointer;
}

form button:hover {
  background: var(--blue);
}

/* form button:hover:active {
  background: var(--blue-dark);
} */

.toDo {
  width: 100%;

  display: flex;
  flex-direction: column;
  /* border: solid 1px green; */

  margin-top: 64px;
}

.toDo header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.createdTasks {
  display: flex;
  gap: 8px;

  color: var(--blue);

  font-weight: 700;
}

.createdTasksNumber {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 20px;

  border-radius: 999px;

  background: var(--gray-400);

  color: var(--gray-200);

  font-weight: 700;
}

.completedTasks {
  display: flex;
  gap: 8px;

  color: var(--purple);

  font-weight: 700;
}

.completedTasksNumberHumanized {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 68px;
  height: 20px;

  border-radius: 999px;

  background: var(--gray-400);

  color: var(--gray-200);

  font-weight: 700;
}

.toDo .toDoListEmptySection {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 64px 24px 64px 24px;

  font-sizwe: 16px;
}

.toDo .toDoListEmptySection svg {
  margin-bottom: 16px;
}

.toDo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toDo ul li {
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  background: var(--gray-500);

  border: solid 1px var(--gray-400);
  border-radius: 12px;

  padding: 0px 16px;
}

.toDo ul li ~ li {
  margin-top: 12px;
}

.toDo ul li button {
  border: 0;
  background: transparent;

  cursor: pointer;
}

.itemCheckAndTextTask {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 8px;

  text-align: justify;
  text-justify: inter-word;
}

.taskButtonCheck {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.taskUnchecked {
  color: var(--blue);
}

.taskUnchecked:hover {
  color: var(--blue-dark);
}

.taskUnchecked:hover:active {
  color: var(--blue);
}

.taskChecked {
  color: var(--purple);
}

.taskChecked:hover {
  color: var(--purple-dark);
}

.taskChecked:hover:active {
  color: var(--purple);
}

.taskButtonTrash {
  /* width: 34px;
  height: 34px; */

  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: var(--gray-300);
  border-radius: 4px;
}

.taskButtonTrash:hover {
  color: var(--danger);
  /* background: var(--gray-300); */
}

.taskTrash:hover:active {
  color: var(--red-500);
}
