main {
  max-width: 740px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: -30px;

  border: solid 1px red;
}

form {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

form input {
  height: 54px;
  width: 640px;
}

form button {
  height: 54px;
  width: 90px;
}

.toDo {
  width: 100%;

  display: flex;
  flex-direction: column;
  border: solid 1px green;

  margin-top: 64px;
}

.toDo header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.toDo .toDoListEmptySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px white; */

  margin: 64px 24px 64px 24px;

  font-sizwe: 16px;
}

.toDo .toDoListEmptySection svg {
  margin-bottom: 16px;
}

.toDo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
